<a href="https://colab.research.google.com/github/Farzan24/Business-Analytics-With-Excel/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Ingprint("\"Kathy\"joseph alexander")

"Kathy"joseph alexander

In [2]:
print("He \n  Doctor")

He
  Doctor

In [4]:
print("Farzan \n    PA")

Farzan
    PA

In [6]:
x=10
print("x.isdecimal()")

x.isdecimal()

In [7]:
x = ["John", "Mary", "David", "Adam"]

x.insert()
print(x)

['John', 'Mary', 'James', 'David', 'Adam']

In [11]:
x=["A" , "b","C", "K"]
y=int(input("Enter Index"))
n=input("Enter a Name")
x.insert(y,n)

Enter Index5
Enter a NameParvathi

In [15]:
def tia():
  y=int(input("Enter Index"))
  n=input("Enter a Name")
  x.insert(y,n)

In [16]:
tia()

Enter Index6
Enter a Name tia

In [17]:
def maths(a,b):
  print(a+b)

In [18]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value 6
enter second value 7
13